{% extends 'view/layout/base.html' %}

{% block body %}
<table class='table is-borderd'>
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>A;os</th>
            <th>Status</th>
            <th>Cantidad maxima de pasajeros</th>
        </tr>
    </thead>
    <tbody class='is-text-centered'>
        <tr>
            <th>Toyota</th>
            <th>corolla</th>
            <th>2006</th>
            <th class="tag is-success">Disponible</th>
            <th>5</th>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block footerScripts %}
<script></script>
{% endblock %}