<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <h1 class="title">RENT A CAR</h1></a>
                    <div class="navbar-burger js-burger" data-target="navigationbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>
                <div id="navigationbar" class="navbar-menu">
                    <div class="navbar-start">
                        <!-- <a class="navbar-item">Inicio</a> -->
                        <a class="navbar-item" href="/clients">Clientes</a>
                        <a class="navbar-item"href="/car">Autos</a>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        <button ></button>
    </section>
    <!-- <script type="text/javascript" src="menu.js"></script> -->
    {% block footerScripts %}
    
    {% endblock %}
</body>
</html>