<div class="columns is-hidden">
    <div class="column is-one-third">
        <label class="label">Marca</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-car"></i></span>
                <p id="input-brand"></p>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <label class="label">Modelo</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-car-side"></i></span>
                <p id="input-model"></p>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <label class="label">Anio</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-calendar-check"></i></span>
                <p id="input-year"></p>
            </div>
        </div>
    </div>
</div>
<div class="columns is-hidden">
    <div class="column is-one-third">
        <label class="label">Tipo de transmission</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <p id="input-transmission"></p>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <label class="label">Kilometraje (KMS)</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <p id="input-mileage"></p>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <label class="label">Capacidad Maxima de pasajero</label>
        <div class="field">
            <div class="control box is-flex">
                <span class="icon"><i class="fas fa-users"></i></span>
                <p id="input-capacity"></p>
            </div>
        </div>
    </div>
</div>