{% extends 'view/base.njk' %}
{% block body %}
<section class="section">
    <h1 class="title header-title"> Gestion de Rentas</h1>
    <button class="button is-link" onclick="location.href='rentals/create'">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Agregar una nueva renta</span>
    </button>
    <div class="table-container" style="margin-top: 1rem">
        <table class="table is-striped is-hoverable">
            <thead>
                <tr class="is-warning">
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-hashtag"></i></span>ID</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-calendar-check"></i></span>Fecha de inicio</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-calendar"></i></span>Fecha de finalizacion</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-money-bill"></i></span>Metodo de pago</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-receipt"></i></span>Estatus del pago</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-dollar-sign"></i></span>Costo total de la renta</th>
                    <th class="has-text-black"><span class="icon has-text-black"><i class="fas fa-star"></i></span>Acciones</th>
                </tr>
            </thead>
            {% for rental in rentals %}
            <tbody>
                <tr>
                    <td>{{rental.id}}</td>
                    <td>{{rental.startedAt.toLocaleDateString()}}</td>
                    <td>{{rental.endedAt.toLocaleDateString()}}</td>
                    <td>{{rental.paymentMethod}}</td>
                    <td>
                        {% if rental.isPaid == true %}
                            <p class="tag is-success">Pagado</p></td>
                        {% else %}
                            <p class="tag is-danger">Pago pendiente</p>
                        {% endif %}
                    </td>
                        
                    <td>${{rental.totalPrice}}</td>
                    <td>
                        <button class="button is-info is-small" onclick="location.href='rentals/{{rental.id}}/view'" >
                            <span class="icon"><i class="fas fa-info-circle"></i></span>
                            <span>Detalles</span>
                        </button>
                        <button class="button is-success is-small" onclick="location.href='rentals/{{rental.id}}/edit'">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                            <span>Editar</span>
                        </button>
                        <button class="button is-danger is-small" onclick="location.href='rentals/{{rental.id}}/delete'">
                            <span class="icon"><i class="fas fa-trash-alt"></i></span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}