{% extends 'view/base.njk' %}
{% block body %}
<div class="container ">
    <section class="section">
        <h1 class="title header-title has-text-primary">Editando la renta con id: {{rental.id}}</h1>   
        <div class="box">
            {% include 'rental/views/layouts/form.njk' %}
        </div>
    </section>
</div>
{% endblock %}
{% block footerScripts %}
<script type='text/javascript' src="/js/rentalForm.js"></script>
<script type='text/javascript' src="/js/cancelButton.js"></script>
{% endblock %}