<div class="content">
    <div class="columns">
        <div class="column is-half m-2 p-4">
            <p class="detail-value ">
                <span class="icon has-text-info"><i class="fas fa-passport"></i></span>
                <strong class="has-text-info">Tipo de documento:</strong> {{client.documentType}}
            </p>
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-hashtag"></i></span>
                <strong class="has-text-info">Numero de documento:</strong> {{client.documentNumber}}
            </p>
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-globe"></i></span>
                <strong class="has-text-info">Nacionalidad:</strong>  {{client.nationality}}
            </p>
        </div>
        <div class="column is-half m-2 p-4">
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-address-book"></i></span>
                <strong class="has-text-info">Direccion:</strong> {{client.address}}
            </p>
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-phone"></i></span>
                <strong class="has-text-info">Numero de telefono:</strong> {{client.phoneNumber}}
            </p>
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-envelope"></i></span>
                <strong class="has-text-info">Email:</strong> {{client.email}}
            </p>
            <p class="detail-value">
                <span class="icon has-text-info"><i class="fas fa-calendar"></i></span>
                <strong class="has-text-info">Fecha de nacimiento:</strong> {{client.birthday}}
            </pl>
        </div>
    </div>
</div>