<footer class="card-footer">
    <a class="card-footer-item button is-info" id="home">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span>Inicio</span>
    </a>
    <a class="card-footer-item button is-success" id="edit">
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
        <span>Editar</span>
    </a>
    <a class="card-footer-item button is-danger" id="delete">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
        <span>Eliminar</span>
    </a>
</footer>