{% extends 'view/layout/base.html' %}
{% block body %}

<div class="container ">
    <section class="section">
        <h1 class="title is-1">{{titulo}}</h1>
        <form id="formulario" class="mb-3" method="POST">
            <div class="field">
                <label class="label" for="car">Carro</label>
                <div class="control">
                    <div class="select is-info is-rounded">
                        <select name="car">
                            <option>---Selecciona el carro---</option>
                            {% for car in cars %}
                                <option value="{{car.id}}">{{car.model}} {{car.year}} {{car.transmission}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="client">Cliente</label>
                <div class="control">
                    <div class="select is-info is-rounded">
                        <select name="client">
                            <option>---Selecciona el cliente---</option>
                            {% for client in clients %}
                                <option value="{{client.id}}">{{client.name}} {{client.lastName}} {{client.documentType}} {{client.documentNumber}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <label class="label" for="pricePerDay">Precio por dia del auto</label>
            <div class="field">
                <div class="control is-expanded">
                    <input class="input" type="number" placeholder="" name="pricePerDay" value="{{rental.pricePerDay}}"/>
                </div>
            </div>
            <div class="field">
                <label class="label" for="startedAt">Fecha de inicio</label>
                <div class="control">
                    <input class="input" type="date" placeholder="" name="startedAt" value="{{rental.startedAt}}"/>
                </div>
            </div>
            <div class="field">
                <label class="label" for="endedAt">Fecha de finalizacion</label>
                <div class="field">
                    <div class="control">
                        <input class="input" type="date" placeholder="" name="endedAt" value="{{rental.endedAt}}"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="totalPrice">Precio total por renta</label>
                <div class="control">
                    <input class="input" type="number" placeholder="" name="totalPrice" value="{{rental.totalPrice}}"/>
                </div>
            </div>
            <div class="field">
                <label class="label" for="paymentMethod">Metodo de pago</label>
                <div class="control">
                    <div class="select is-info is-rounded">
                        <select name="paymentMethod" data-payment-method="{{rental.paymentMethod}}" id="payment-method">
                            <option>---Selecciona el tipo de metodo de pago---</option>
                            <option id="select-cash">Efectivo</option>
                            <option id="select-transfer">Transferencia</option>
                        </select>
                    </div>
                </div>
            <div class="field">
                <label class="label" for="isPaid">Status del pago</label>
                <div class="control">
                    <div class="select is-info is-rounded">
                        <select name="isPaid" data-payment-status="{{rental.isPaid}}" id="payment-status">
                            <option>---Selecciona el estado del pago---</option>
                            <option id="select-true" value="true">Pagado</option>
                            <option id="select-false" value="false">No pagado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control id-expanded">
                    <input type="submit" value="{{boton}}" class="button is-primary is-fullwidth is-rounded"></input>
                </div>
            </div>
        </form>
        <a class="button is-link is-danger is-outlined is-fullwidth is-rounded" href="/rentals" >Cancel</a>
    </section>
</div>

{% endblock %}

{% block footerScripts %}
{{super()}}
{% if rental %}
    <script type='text/javascript'>
        const paymentStatus = document.querySelector('#payment-status').dataset['paymentStatus'];
        const paymentMethod = document.querySelector('#payment-method').dataset['paymentMethod'];
        if(paymentMethod === 'Efectivo'){
            document.getElementById("select-cash").setAttribute('selected', true);
        } else{
            document.getElementById("select-transfer").setAttribute('selected', true);
        }
        
        if(paymentStatus === 'true'){
            document.getElementById("select-true").setAttribute('selected', true);
        } else{
            document.getElementById("select-false").setAttribute('selected', true);
        }
    </script>
{% endif %}
{% endblock %}