{% extends 'view/layout/base.html' %}
{% block body %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Informacion detallada</p>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <ul>Nombre : {{client.name}}</ul>
                        <ul>Apellido : {{client.lastName}}</ul>
                        <ul>Tipo de documento : {{client.documentType}}</ul>
                        <ul>Numero de documento : {{client.documentNumber}}</ul>
                        <ul>Nacionalidad: {{client.nationality}}</ul>
                        <ul>Direccion: {{client.address}}</ul>
                        <ul>Numero de telefono: {{client.phoneNumber}}</ul>
                        <ul>Email : {{client.email}}</ul>
                        <ul>Fecha de nacimiento : {{client.birthday}}</ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-footer-item" href="/clients"><-- Inicio</a>
                    <a class="card-footer-item" href="/clients/form/{{client.id}}">Editar</a>
                    <a class="card-footer-item" href="/clients/delete/{{client.id}}">Delete</a>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}
